<div class="estatisticas-container">

    <div class="estatisticas-cards">

        <div class="estat-card">
            <h4>Clientes atendidos</h4>
            <h2>120</h2>
        </div>

        <div class="estat-card">
            <h4>Vendas concluídas</h4>
            <h2>85</h2>
        </div>

        <div class="estat-card">
            <h4>Não faturadas</h4>
            <h2>20</h2>
        </div>

        <div class="estat-card">
            <h4>Pendentes</h4>
            <h2>15</h2>
        </div>

    </div>

    <div class="estatisticas-cards">

        <div class="estat-card">
            <h4>% Concluídas</h4>
            <h2 class="positivo">70%</h2>
        </div>

        <div class="estat-card">
            <h4>% Não concluídas</h4>
            <h2 class="negativo">30%</h2>
        </div>

        <div class="estat-card">
            <h4>Compraram</h4>
            <h2 class="positivo">85</h2>
        </div>

        <div class="estat-card">
            <h4>Não compraram</h4>
            <h2 class="negativo">35</h2>
        </div>

    </div>

</div>
